module.exports = {
    dialect: 'mysql',
    host: 'Yourhost',
    username: 'YourName',
    password: 'Yourpassword',
    database: 'YourDatabase',
    define: {
      timestamps: true,
      underscored: true,
    }
}